{% extends 'base.html' %}
{% block title %}
    About 
{% endblock title %}
{% block body %}
    <div class="container">
        <h1> About this website .......</h1>
    </div>
    <div >
        Hey everyone welcome to my website . This is a TODO app made by using the flask framework 
        of python . It perdform all the basic CRUD applications<p>
            <ol>
                <li>CREATE</li>
                <li>READ</li>
                <li>UPDATE</li>
                <li>DELETE</li>
            </ol>
        </p>
    </div>
{% endblock body %}